---
---

<script type="module" is:inline>
  // Wrap text in wordspan
  // Find all text with .tricks class and break each word into a span
  var tricksWord = document.getElementsByClassName("tricks");
  for (var i = 0; i < tricksWord.length; i++) {
    var wordWrap = tricksWord.item(i);
    wordWrap.innerHTML = wordWrap.innerHTML.replace(
      /(^|<\/?[^>]+>|\s+)([^\s<]+)/g,
      '$1<span class="tricksword" >$2</span>'
    );
  }
  // Break each wordspan into letters
  var tricksLetter = document.getElementsByClassName("tricksword");
  for (var i = 0; i < tricksLetter.length; i++) {
    var letterWrap = tricksLetter.item(i);
    letterWrap.innerHTML = letterWrap.textContent.replace(
      /\S/g,
      "<span class='letter' style='opacity:0; transform: translateY(-40px);' >$&</span>"
    );
  }
</script>
