---
---

<div class="intro-wrap">
  <div id="intro-black" class="fixed top-0 left-0 z-40 flex h-full w-full items-center bg-md-black">
  </div>
  <!-- SVG logo intro -->
  <div
    id="intro-logo"
    class="logo-clip absolute left-1/2 top-1/2 z-40 mx-auto h-[71px] w-[330px] -translate-x-1/2 -translate-y-1/2"
  >
    <div id="mask-logo" class="relative h-full w-full -translate-x-[330px] bg-md-white"></div>
    <!-- SVG Outline -->
    <svg
      width="100%"
      height="100%"
      viewBox="0 0 330 71"
      fill="none"
      id="svg-stroke"
      xmlns="http://www.w3.org/2000/svg"
      class="absolute top-0 left-0 z-50 w-full opacity-0 md:opacity-100"
    >
      <path
        d="M52.4587 40.1601C52.4587 36.0321 52.4587 30.8481 52.3627 26.8161C52.2667 24.2241 51.4027 21.3441 49.6747 19.5201C45.9307 15.6801 40.9387 14.7201 35.7547 16.1601C32.8747 16.9281 29.5147 20.0001 28.6507 22.1121C28.1707 21.1521 27.6907 20.2881 26.9227 19.5201C25.7707 18.2721 24.4267 17.3121 22.9867 16.6401C20.0107 15.2001 16.5547 15.0081 13.0987 16.1601C10.7947 16.8321 8.01067 19.5201 6.85867 21.4401C6.66667 20.0001 6.66667 18.2721 6.57067 16.6401H0.138667C0.138667 20.8641 0.0426666 24.6081 0.0426666 28.9281C-0.0533332 31.3281 0.0426666 34.7841 0.0426666 37.1841C0.0426666 39.5841 -0.0533332 52.0641 0.0426666 54.4641C0.0426666 55.4241 0.0426666 55.7121 0.0426666 55.7121C1.67467 55.7121 5.03467 55.7121 6.95467 55.7121C7.05067 54.8481 7.05067 54.1761 7.05067 53.5041C7.05067 48.0321 7.05067 43.5201 7.14667 38.0481C7.14667 36.2241 7.05067 32.7681 7.33867 31.0401C7.53067 26.9121 10.4107 22.8801 14.2507 22.4001C18.3787 21.8241 21.6427 23.6481 22.2187 27.5841C22.5067 29.2161 22.6027 30.8481 22.6027 32.4801C22.6987 36.0321 22.6027 39.3921 22.6027 42.9441C22.6027 44.7681 22.6027 47.4561 22.6027 49.2801C22.6027 51.4881 22.6027 53.4081 22.6027 55.7121C23.7547 55.7121 25.0027 55.7121 26.1547 55.7121C27.3067 55.7121 28.5547 55.7121 29.7067 55.7121C29.8027 55.0401 29.8027 54.6561 29.8027 54.0801C29.8027 53.4081 29.8027 52.7361 29.8027 52.0641C29.8027 47.1681 29.8027 43.0401 29.8987 38.0481C29.8987 36.2241 29.8027 32.7681 30.0907 31.0401C30.2827 26.9121 33.1627 22.8801 36.9067 22.4001C41.1307 21.8241 44.2987 23.6481 44.9707 27.5841C45.2587 29.2161 45.2587 30.8481 45.3547 32.4801C45.4507 36.0321 45.2587 39.3921 45.3547 42.9441C45.3547 44.7681 45.3547 47.4561 45.3547 49.2801C45.3547 51.4881 45.3547 53.4081 45.3547 55.7121C47.7547 55.7121 50.1547 55.7121 52.4587 55.7121C52.4587 55.0401 52.4587 54.6561 52.4587 54.0801C52.4587 49.2801 52.4587 44.9601 52.4587 40.1601Z"
        class="svg-logo"></path>
      <path
        d="M82.2809 15.5841C70.5689 14.2401 60.2009 23.3601 59.6249 34.9761C59.0489 45.9201 66.9209 56.3841 79.6889 56.8641C89.1929 57.2481 101.289 50.3361 101.193 35.8401C101.193 25.7601 94.4729 16.9281 82.2809 15.5841ZM93.8969 36.7041C93.4169 45.5361 87.5609 50.3361 81.1289 50.3361C72.2969 50.3361 67.0169 44.9601 67.0169 36.5121C66.8249 27.6801 72.9689 22.1121 80.9369 22.4961C88.4249 22.4001 94.3769 29.0241 93.8969 36.7041Z"
        class="svg-logo"></path>
      <path
        d="M186.28 40.2561C186.28 36.1281 186.28 30.9441 186.184 26.8161C186.088 24.3201 185.224 21.4401 183.496 19.6161C179.752 15.7761 174.28 14.6241 169.192 16.2561C166.888 16.9281 164.104 19.6161 162.952 21.4401C162.76 20.0001 162.76 18.2721 162.664 16.7361C160.648 16.7361 158.152 16.7361 156.232 16.7361C156.232 20.9601 156.136 24.7041 156.136 29.0241C156.04 31.4241 156.136 34.8801 156.136 37.2801C156.136 39.6801 156.04 52.0641 156.136 54.5601C156.136 55.5201 156.136 55.8081 156.136 55.8081C157.768 55.8081 161.224 55.8081 163.144 55.8081C163.144 55.1361 163.144 54.2721 163.144 53.6001C163.144 48.0321 163.144 43.6161 163.24 38.0481C163.24 36.3201 163.144 32.7681 163.432 31.0401C163.624 26.9121 166.504 22.9761 170.344 22.4961C174.472 21.9201 178.12 23.7441 178.792 27.6801C178.984 29.3121 179.08 30.9441 179.08 32.5761C179.176 36.1281 179.08 39.4881 179.08 42.9441C179.176 44.7681 179.08 47.5521 179.08 49.3761C179.08 51.4881 179.08 53.5041 179.08 55.8081C181.576 55.8081 183.88 55.8081 186.28 55.8081C186.28 55.1361 186.28 54.7521 186.28 54.1761C186.184 49.3761 186.28 45.0561 186.28 40.2561Z"
        class="svg-logo"></path>
      <path
        d="M235.452 0H227.964V19.8081C227.868 20.4801 227.868 21.0561 227.772 21.6321C226.044 19.2321 222.204 17.4081 219.9 16.6401C215.1 14.9121 210.012 15.2001 205.404 17.4081C200.412 19.8081 197.148 23.3601 194.94 28.4481C194.268 29.8881 193.98 31.4241 193.788 32.9601C193.116 36.8961 193.596 40.7361 195.132 44.3841C196.188 46.9761 197.82 49.3761 199.932 51.3921C200.316 51.7761 204.54 55.5201 209.628 56.3841C212.796 57.0561 215.964 57.0561 219.036 56.3841C222.204 55.7121 225.852 53.0241 227.388 50.6241C227.484 52.4481 227.58 54.1761 227.676 55.6161C230.268 55.7121 232.764 55.7121 235.452 55.7121C235.356 45.6321 235.452 0 235.452 0ZM214.428 49.7601C206.844 49.7601 200.988 43.9041 201.18 35.9361C201.468 28.2561 207.132 22.3041 215.388 22.8801C222.588 23.2641 227.964 28.7361 227.964 36.6081C227.964 43.9041 222.3 49.7601 214.428 49.7601Z"
        class="svg-logo"></path>
      <path
        d="M272.914 21.2481C272.914 20.3841 272.818 18.1761 272.818 16.6401C270.706 16.6401 268.114 16.6401 265.81 16.6401C265.81 19.5201 265.714 24.2241 265.714 26.7201C265.714 32.0001 266.002 37.2801 265.618 42.5601C265.426 44.8641 264.466 46.9761 262.642 48.3201C260.53 49.9521 258.13 50.5281 255.442 49.8561C253.522 49.4721 251.89 48.2241 250.93 46.5921C249.682 44.6721 249.874 42.5601 249.874 40.3521C249.874 39.1041 249.778 37.8561 249.778 36.6081C249.778 34.4961 249.682 32.4801 249.682 30.3681C249.682 26.4321 249.778 20.6721 249.778 16.6401C247.186 16.6401 244.594 16.6401 242.002 16.6401C242.002 18.3681 242.002 21.6321 241.906 23.1681C241.906 24.2241 241.81 33.3441 241.906 36.8961C241.906 39.0081 241.81 41.2161 242.002 43.4241C242.194 45.6321 242.674 47.9361 243.73 49.8561C244.882 51.8721 246.898 53.6001 248.914 54.7521C251.506 56.2881 254.578 56.8641 257.65 56.8641C262.354 56.8641 266.194 55.1361 269.17 51.6801C271.858 48.4161 272.818 44.4801 272.914 40.2561C273.01 36.7041 273.01 33.1521 273.01 29.6001C273.01 26.7201 272.914 24.1281 272.914 21.2481Z"
        class="svg-logo"></path>
      <path
        d="M329.517 16.7361C328.269 16.7361 327.021 16.7361 325.677 16.7361C322.509 16.7361 321.837 16.9281 321.837 16.5441C321.741 15.4881 321.837 10.5921 321.837 9.44008C319.341 9.44008 317.037 9.44008 314.541 9.44008C314.541 11.7441 314.541 14.6241 314.541 16.6401C312.525 16.6401 311.085 16.6401 309.069 16.6401C309.069 18.8481 309.069 20.3841 309.069 22.5921C310.893 22.5921 312.717 22.5921 314.253 22.5921C314.541 22.5921 314.541 22.5921 314.541 22.6881C314.541 24.5121 314.637 38.2401 314.637 41.4081C314.637 44.2881 314.733 47.1681 314.733 49.9521C314.733 51.4881 314.733 53.0241 314.733 54.6561C314.637 55.3281 314.733 55.8081 315.021 55.8081C317.325 55.8081 319.821 55.8081 322.029 55.7121C321.837 44.8641 322.221 33.4401 322.029 22.7841C324.909 22.7841 326.733 22.7841 329.517 22.7841C329.517 20.4801 329.517 19.0401 329.517 16.7361Z"
        class="svg-logo"></path>
      <path
        d="M304.777 40.1395C302.765 34.8938 297.638 32.6789 292.527 31.4239C291.08 31.0651 289.727 30.5127 288.75 29.5696C287.282 27.963 286.952 25.5683 288.361 23.8155C289.488 22.3556 291.497 21.9365 293.137 22.3879C294.584 22.7467 295.368 23.6932 296.148 24.3517C297.851 22.8817 299.459 21.5094 301.162 20.0395C299.005 17.4848 296.681 16.3731 293.982 15.7482C292.245 15.2984 290.422 15.3302 288.701 15.7443C286.311 16.3621 284.127 17.7445 282.625 19.691C280.37 22.5148 279.867 26.7482 280.79 30.0926C281.413 32.7701 283.272 34.754 285.6 36.1535C287.443 37.1775 289.467 37.6223 291.396 38.1647C293.516 38.6078 295.453 39.5341 296.923 41.2367C298.49 43.0336 298.554 46.6811 296.954 48.5333C294.507 51.3604 289.604 50.9659 287.346 48.1249C286.953 47.6517 286.46 46.8922 285.967 46.1327C283.777 47.227 282.07 48.409 279.976 49.5017C281.354 51.398 282.441 53.2033 284.189 54.3249C288.953 57.6983 296.155 57.7646 300.796 54.1311C304.965 50.8898 306.592 45.1006 304.777 40.1395Z"
        class="svg-logo"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M106.969 34.9763C107.545 23.3603 117.913 14.2403 129.625 15.5843C141.817 16.9283 148.537 25.7603 148.537 35.8403C148.633 50.3363 136.537 57.2483 127.033 56.8643C114.265 56.3843 106.393 45.9203 106.969 34.9763ZM129.399 22.5321C126.811 26.6983 125.434 31.4855 125.434 36.3788C125.434 41.301 126.828 46.116 129.445 50.2995C129.123 50.324 128.799 50.3363 128.473 50.3363C119.641 50.3363 114.361 44.9603 114.361 36.5123C114.169 27.6803 120.313 22.1123 128.281 22.4963C128.658 22.4915 129.031 22.5036 129.399 22.5321Z"
        class="svg-logo"></path>
    </svg>
    <!-- SVG Clip path -->
    <svg
      width="0"
      height="0"
      viewBox="0 0 330 71"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      id="intro-svg"
    >
      <defs>
        <clipPath id="svg-mask">
          <path
            d="M52.4587 40.1601C52.4587 36.0321 52.4587 30.8481 52.3627 26.8161C52.2667 24.2241 51.4027 21.3441 49.6747 19.5201C45.9307 15.6801 40.9387 14.7201 35.7547 16.1601C32.8747 16.9281 29.5147 20.0001 28.6507 22.1121C28.1707 21.1521 27.6907 20.2881 26.9227 19.5201C25.7707 18.2721 24.4267 17.3121 22.9867 16.6401C20.0107 15.2001 16.5547 15.0081 13.0987 16.1601C10.7947 16.8321 8.01067 19.5201 6.85867 21.4401C6.66667 20.0001 6.66667 18.2721 6.57067 16.6401H0.138667C0.138667 20.8641 0.0426666 24.6081 0.0426666 28.9281C-0.0533332 31.3281 0.0426666 34.7841 0.0426666 37.1841C0.0426666 39.5841 -0.0533332 52.0641 0.0426666 54.4641C0.0426666 55.4241 0.0426666 55.7121 0.0426666 55.7121C1.67467 55.7121 5.03467 55.7121 6.95467 55.7121C7.05067 54.8481 7.05067 54.1761 7.05067 53.5041C7.05067 48.0321 7.05067 43.5201 7.14667 38.0481C7.14667 36.2241 7.05067 32.7681 7.33867 31.0401C7.53067 26.9121 10.4107 22.8801 14.2507 22.4001C18.3787 21.8241 21.6427 23.6481 22.2187 27.5841C22.5067 29.2161 22.6027 30.8481 22.6027 32.4801C22.6987 36.0321 22.6027 39.3921 22.6027 42.9441C22.6027 44.7681 22.6027 47.4561 22.6027 49.2801C22.6027 51.4881 22.6027 53.4081 22.6027 55.7121C23.7547 55.7121 25.0027 55.7121 26.1547 55.7121C27.3067 55.7121 28.5547 55.7121 29.7067 55.7121C29.8027 55.0401 29.8027 54.6561 29.8027 54.0801C29.8027 53.4081 29.8027 52.7361 29.8027 52.0641C29.8027 47.1681 29.8027 43.0401 29.8987 38.0481C29.8987 36.2241 29.8027 32.7681 30.0907 31.0401C30.2827 26.9121 33.1627 22.8801 36.9067 22.4001C41.1307 21.8241 44.2987 23.6481 44.9707 27.5841C45.2587 29.2161 45.2587 30.8481 45.3547 32.4801C45.4507 36.0321 45.2587 39.3921 45.3547 42.9441C45.3547 44.7681 45.3547 47.4561 45.3547 49.2801C45.3547 51.4881 45.3547 53.4081 45.3547 55.7121C47.7547 55.7121 50.1547 55.7121 52.4587 55.7121C52.4587 55.0401 52.4587 54.6561 52.4587 54.0801C52.4587 49.2801 52.4587 44.9601 52.4587 40.1601Z"
            fill="white"></path>
          <path
            d="M82.2809 15.5841C70.5689 14.2401 60.2009 23.3601 59.6249 34.9761C59.0489 45.9201 66.9209 56.3841 79.6889 56.8641C89.1929 57.2481 101.289 50.3361 101.193 35.8401C101.193 25.7601 94.4729 16.9281 82.2809 15.5841ZM93.8969 36.7041C93.4169 45.5361 87.5609 50.3361 81.1289 50.3361C72.2969 50.3361 67.0169 44.9601 67.0169 36.5121C66.8249 27.6801 72.9689 22.1121 80.9369 22.4961C88.4249 22.4001 94.3769 29.0241 93.8969 36.7041Z"
            fill="white"></path>
          <path
            d="M186.28 40.2561C186.28 36.1281 186.28 30.9441 186.184 26.8161C186.088 24.3201 185.224 21.4401 183.496 19.6161C179.752 15.7761 174.28 14.6241 169.192 16.2561C166.888 16.9281 164.104 19.6161 162.952 21.4401C162.76 20.0001 162.76 18.2721 162.664 16.7361C160.648 16.7361 158.152 16.7361 156.232 16.7361C156.232 20.9601 156.136 24.7041 156.136 29.0241C156.04 31.4241 156.136 34.8801 156.136 37.2801C156.136 39.6801 156.04 52.0641 156.136 54.5601C156.136 55.5201 156.136 55.8081 156.136 55.8081C157.768 55.8081 161.224 55.8081 163.144 55.8081C163.144 55.1361 163.144 54.2721 163.144 53.6001C163.144 48.0321 163.144 43.6161 163.24 38.0481C163.24 36.3201 163.144 32.7681 163.432 31.0401C163.624 26.9121 166.504 22.9761 170.344 22.4961C174.472 21.9201 178.12 23.7441 178.792 27.6801C178.984 29.3121 179.08 30.9441 179.08 32.5761C179.176 36.1281 179.08 39.4881 179.08 42.9441C179.176 44.7681 179.08 47.5521 179.08 49.3761C179.08 51.4881 179.08 53.5041 179.08 55.8081C181.576 55.8081 183.88 55.8081 186.28 55.8081C186.28 55.1361 186.28 54.7521 186.28 54.1761C186.184 49.3761 186.28 45.0561 186.28 40.2561Z"
            fill="white"></path>
          <path
            d="M235.452 0H227.964V19.8081C227.868 20.4801 227.868 21.0561 227.772 21.6321C226.044 19.2321 222.204 17.4081 219.9 16.6401C215.1 14.9121 210.012 15.2001 205.404 17.4081C200.412 19.8081 197.148 23.3601 194.94 28.4481C194.268 29.8881 193.98 31.4241 193.788 32.9601C193.116 36.8961 193.596 40.7361 195.132 44.3841C196.188 46.9761 197.82 49.3761 199.932 51.3921C200.316 51.7761 204.54 55.5201 209.628 56.3841C212.796 57.0561 215.964 57.0561 219.036 56.3841C222.204 55.7121 225.852 53.0241 227.388 50.6241C227.484 52.4481 227.58 54.1761 227.676 55.6161C230.268 55.7121 232.764 55.7121 235.452 55.7121C235.356 45.6321 235.452 0 235.452 0ZM214.428 49.7601C206.844 49.7601 200.988 43.9041 201.18 35.9361C201.468 28.2561 207.132 22.3041 215.388 22.8801C222.588 23.2641 227.964 28.7361 227.964 36.6081C227.964 43.9041 222.3 49.7601 214.428 49.7601Z"
            fill="white"></path>
          <path
            d="M272.914 21.2481C272.914 20.3841 272.818 18.1761 272.818 16.6401C270.706 16.6401 268.114 16.6401 265.81 16.6401C265.81 19.5201 265.714 24.2241 265.714 26.7201C265.714 32.0001 266.002 37.2801 265.618 42.5601C265.426 44.8641 264.466 46.9761 262.642 48.3201C260.53 49.9521 258.13 50.5281 255.442 49.8561C253.522 49.4721 251.89 48.2241 250.93 46.5921C249.682 44.6721 249.874 42.5601 249.874 40.3521C249.874 39.1041 249.778 37.8561 249.778 36.6081C249.778 34.4961 249.682 32.4801 249.682 30.3681C249.682 26.4321 249.778 20.6721 249.778 16.6401C247.186 16.6401 244.594 16.6401 242.002 16.6401C242.002 18.3681 242.002 21.6321 241.906 23.1681C241.906 24.2241 241.81 33.3441 241.906 36.8961C241.906 39.0081 241.81 41.2161 242.002 43.4241C242.194 45.6321 242.674 47.9361 243.73 49.8561C244.882 51.8721 246.898 53.6001 248.914 54.7521C251.506 56.2881 254.578 56.8641 257.65 56.8641C262.354 56.8641 266.194 55.1361 269.17 51.6801C271.858 48.4161 272.818 44.4801 272.914 40.2561C273.01 36.7041 273.01 33.1521 273.01 29.6001C273.01 26.7201 272.914 24.1281 272.914 21.2481Z"
            fill="white"></path>
          <path
            d="M329.517 16.7361C328.269 16.7361 327.021 16.7361 325.677 16.7361C322.509 16.7361 321.837 16.9281 321.837 16.5441C321.741 15.4881 321.837 10.5921 321.837 9.44008C319.341 9.44008 317.037 9.44008 314.541 9.44008C314.541 11.7441 314.541 14.6241 314.541 16.6401C312.525 16.6401 311.085 16.6401 309.069 16.6401C309.069 18.8481 309.069 20.3841 309.069 22.5921C310.893 22.5921 312.717 22.5921 314.253 22.5921C314.541 22.5921 314.541 22.5921 314.541 22.6881C314.541 24.5121 314.637 38.2401 314.637 41.4081C314.637 44.2881 314.733 47.1681 314.733 49.9521C314.733 51.4881 314.733 53.0241 314.733 54.6561C314.637 55.3281 314.733 55.8081 315.021 55.8081C317.325 55.8081 319.821 55.8081 322.029 55.7121C321.837 44.8641 322.221 33.4401 322.029 22.7841C324.909 22.7841 326.733 22.7841 329.517 22.7841C329.517 20.4801 329.517 19.0401 329.517 16.7361Z"
            fill="white"></path>
          <path
            d="M304.777 40.1395C302.765 34.8938 297.638 32.6789 292.527 31.4239C291.08 31.0651 289.727 30.5127 288.75 29.5696C287.282 27.963 286.952 25.5683 288.361 23.8155C289.488 22.3556 291.497 21.9365 293.137 22.3879C294.584 22.7467 295.368 23.6932 296.148 24.3517C297.851 22.8817 299.459 21.5094 301.162 20.0395C299.005 17.4848 296.681 16.3731 293.982 15.7482C292.245 15.2984 290.422 15.3302 288.701 15.7443C286.311 16.3621 284.127 17.7445 282.625 19.691C280.37 22.5148 279.867 26.7482 280.79 30.0926C281.413 32.7701 283.272 34.754 285.6 36.1535C287.443 37.1775 289.467 37.6223 291.396 38.1647C293.516 38.6078 295.453 39.5341 296.923 41.2367C298.49 43.0336 298.554 46.6811 296.954 48.5333C294.507 51.3604 289.604 50.9659 287.346 48.1249C286.953 47.6517 286.46 46.8922 285.967 46.1327C283.777 47.227 282.07 48.409 279.976 49.5017C281.354 51.398 282.441 53.2033 284.189 54.3249C288.953 57.6983 296.155 57.7646 300.796 54.1311C304.965 50.8898 306.592 45.1006 304.777 40.1395Z"
            fill="white"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M106.969 34.9763C107.545 23.3603 117.913 14.2403 129.625 15.5843C141.817 16.9283 148.537 25.7603 148.537 35.8403C148.633 50.3363 136.537 57.2483 127.033 56.8643C114.265 56.3843 106.393 45.9203 106.969 34.9763ZM129.399 22.5321C126.811 26.6983 125.434 31.4855 125.434 36.3788C125.434 41.301 126.828 46.116 129.445 50.2995C129.123 50.324 128.799 50.3363 128.473 50.3363C119.641 50.3363 114.361 44.9603 114.361 36.5123C114.169 27.6803 120.313 22.1123 128.281 22.4963C128.658 22.4915 129.031 22.5036 129.399 22.5321Z"
            fill="white"></path>
        </clipPath>
      </defs>
    </svg>
  </div>
  <div id="intro-bg-wrap" class="absolute z-0 h-full max-h-[1080px] w-full md:h-screen">
    <div
      id="intro-bg"
      class="z-0 h-full w-full bg-gradient-to-b from-md-astronaut-200 to-md-flamingo-200 md:rounded-3xl"
    >
      <canvas class="orb-canvas z-10 hidden h-full w-full md:block md:rounded-3xl"></canvas>
    </div>
  </div>
</div>
