---
const { hero_img_src, hero_img_alt } = Astro.props;
---

<section class="img-divider mx-auto max-w-screen-2xl md:px-4">
  <figure
    class="img-wrap flex aspect-square w-full items-center justify-center overflow-hidden rounded-3xl bg-md-grey md:aspect-[2]"
  >
    <img class="h-full w-full max-w-full object-cover" src={hero_img_src} alt={hero_img_alt} />
  </figure>
</section>
<!-- /.img-divider -->
