---
import Standard from "../../layouts/standard.astro";
import "../../styles/base.css";
import Hero from "../../components/werk/hero.astro";
import Hero_img from "../../components/werk/hero_img.astro";
import Headline from "../../components/werk/headline.astro";
import Ipad from "../../components/werk/ipad.astro";
import Mobile from "../../components/werk/mobile.astro";
import Img from "../../components/werk/img.astro";
import Desktop from "../../components/werk/desktop.astro";
import IntroWhite from "../../components/gsap/gsap-intro-white.astro";
---

<Standard
  title="Studio Moondust - Tess Verhees"
  h1="Tess Verhees"
  description="Studio Moondust - projectpagina Tess Verhees"
  keywords="Tess Verhees, Branding, Copywriting, portfolio, webdesign, development, e-commerce"
  og_img_url="/werk/elements/teddy-hero-og.webp"
  og_img_alt="Studio Moondust X Elements Concept Interior"
  og_site_name="Studio Moondust X Elements Concept Interior"
>
  <!-- intro-white -->
  <IntroWhite />
  <Hero
    heading="Een portfolio en webshop"
    client="Tess Verhees"
    services="branding, website, webshop"
    year="2022"
    project_url="www.tessverhees.nl"
  />
  <Hero_img
    hero_img_src="/werk/tess/teddy-hero-og.webp"
    hero_img_alt="Marketing afbeelding met visuals van de website tessverhees.nl"
  />
  <Headline
    headline="Nunc quis tempor purus, eu pellentesque risus. Praesent vitae mauris augue. Maecenas vel augue rhoncus risus dapibus tempus. Nunc at egestas lacus. Morbi at lorem dolor."
  />
  <Ipad
    background="bg-[#FFF9F0]"
    vid_src="/werk/tess/vid-teddy-ipad.mp4"
    vid_title="iPad screencapture"
  />
  <Mobile
    vid_src="/werk/tess/vid-teddy-mobile.mp4"
    vid_title="Mobile screencapture website"
    img1_src="/werk/tess/teddy-mobile-2.webp"
    img1_alt="Mobile screenshot tessverhees.nl"
    img2_src="/werk/tess/teddy-mobile-3.webp"
    img2_alt="Mobile screenshot tessverhees.nl"
  />
  <Img
    img_src="/werk/tess/teddy-section-img-bg.webp"
    img_alt="Marketing afbeelding met visuals van de website tessverhees.nl"
  />
  <Desktop
    vid_src="/werk/tess/vid-teddy-desktop.mp4"
    vid_title="Desktop screencapture tessverhees.nl"
  />
  <section class="quote mx-auto max-w-screen-xl py-16 px-4 md:px-16 lg:py-32">
    <div class="pagination quote-text flex w-full items-center justify-center gap-4 sm:gap-12">
      <a href="../werk">&lt; werk</a> / <a href="../werk/elements-interior"> next &gt;</a>
    </div><!-- /.quote -->
  </section>
</Standard>
