---
import Project from '../../layouts/project.astro';
import '../../styles/base.css';
---

<Project
  title="Werk - Tess Verhees"
  heading="Een nieuw portfolio en webshop in één"
  client="Tess Verhees"
  services="branding, website"
  year="2022"
  project_url="www.tessverhees.nl"
  hero_img_url="#"
  hero_img_alt="#"
  headline="Nunc quis tempor purus, eu pellentesque risus. Praesent vitae mauris augue. Maecenas vel augue rhoncus risus dapibus tempus. Nunc at egestas lacus. Morbi at lorem dolor."
>
  <section class="quote mx-auto max-w-screen-xl py-16 px-4 md:px-8 md:pt-24 lg:px-16 lg:pb-32">
    <h3 class="quote-text">
      *<br /> Wat al deze mensen gemeen hebben: blablabla. We gaan lekker op onze values. Jij ook? Neem
      contact op JOW
    </h3>
  </section><!-- /.quote -->
</Project>
