---
import Standard from "../../layouts/standard.astro";
import "../../styles/base.css";
import Hero from "../../components/werk/hero.astro";
import Hero_img from "../../components/werk/hero_img.astro";
import Headline from "../../components/werk/headline.astro";
import Ipad from "../../components/werk/ipad.astro";
import Mobile from "../../components/werk/mobile.astro";
import Img from "../../components/werk/img.astro";
import Desktop from "../../components/werk/desktop.astro";
import IntroWhite from "../../components/gsap-intro-white.astro";
import GSAPStandard from "../../components/gsap-standard.astro";
---

<Standard
  title="Studio Moondust Werk"
  h1="Tess Verhees Portfolio"
  description="#"
  keywords="#"
  og_img_url="/werk/tess/teddy-hero-og.webp"
  og_img_alt="#"
  og_site_name="Studio Moondust"
>
  <Hero
    heading="Een nieuw portfolio en webshop in één"
    client="Tess Verhees"
    services="branding, website"
    year="2022"
    project_url="www.tessverhees.nl"
  />
  <Hero_img hero_img_src="/werk/tess/teddy-hero-og.webp" hero_img_alt="#" />
  <Headline
    headline="Nunc quis tempor purus, eu pellentesque risus. Praesent vitae mauris augue. Maecenas vel augue rhoncus risus dapibus tempus. Nunc at egestas lacus. Morbi at lorem dolor."
  />
  <Ipad background="bg-[#FFF9F0]" vid_src="/werk/tess/vid-teddy-ipad.mp4" vid_title="#" />
  <Mobile
    vid_src="/werk/tess/vid-teddy-mobile.mp4"
    vid_title="ipad screencapture website teddy"
    img1_src="/werk/tess/teddy-mobile-2.webp"
    img1_alt=""
    img2_src="/werk/tess/teddy-mobile-3.webp"
    img2_alt=""
  />
  <Img img_src="/werk/tess/teddy-section-img-bg.webp" img_alt="#" />
  <Desktop vid_src="/werk/tess/vid-teddy-desktop.mp4" vid_title="#" />
  <section class="quote mx-auto max-w-screen-xl py-16 px-4 md:px-16 lg:py-32">
    <div class="pagination quote-text flex w-full items-center justify-center gap-4 sm:gap-12">
      <a href="../werk">&lt; werk</a> / <a href="#"> next &gt;</a>
    </div><!-- /.quote -->
  </section>
  <!-- intro-white -->
  <IntroWhite />
  <!-- GSAP Standard -->
  <GSAPStandard />
</Standard>
