---
import Standard from "../../layouts/standard.astro";
import Nav from "../../components/nav.astro";
import "../../styles/base.css";
import Hero from "../../components/werk/hero.astro";
import Hero_img from "../../components/werk/hero_img.astro";
import Headline from "../../components/werk/headline.astro";
import Ipad from "../../components/werk/ipad.astro";
import Mobile from "../../components/werk/mobile.astro";
import Img from "../../components/werk/img.astro";
import Desktop from "../../components/werk/desktop.astro";
import IntroWhite from "../../components/gsap/gsap-intro-white.astro";
---

<Standard
  title="Studio Moondust - Vivaz"
  h1="Vivaz"
  description="Studio Moondust - projectpagina Vivaz"
  keywords="Vivaz, Branding, copywriting, fotografie, portfolio, webdesign, development"
  og_img_url="/werk/elements/vivaz-hero-OG.webp"
  og_img_alt="Studio Moondust X Vivaz"
  og_site_name="Studio Moondust X Vivaz"
>
  <Nav fill="black" />
  <IntroWhite />
  <Hero
    heading="Een nieuwe look voor Vivaz Coaching Nijmegen"
    client="Vivaz"
    services="branding, website, fotografie"
    year="2022"
    project_url="www.vivaz.nl"
  />
  <Hero_img
    hero_img_src="/werk/vivaz/vivaz-hero-OG.webp"
    hero_img_alt="Marketing afbeelding met visuals van de website vivaz.nl"
  />
  <Headline
    headline="Vivaz biedt coaching en training aan voor particulieren of bedrijven. Verdiepen en verbinden. Samen is het codewoord."
  />
  <Ipad
    background="bg-[#FFF8F8]"
    vid_src="/werk/vivaz/vid-vivaz-ipad.mp4"
    vid_title="iPad screencapture vivaz.nl"
  />
  <Mobile
    vid_src="/werk/vivaz/vid-vivaz-mobile.mp4"
    vid_title="Desktop screencapture website"
    img1_src="/werk/vivaz/vivaz-mobile-2.webp"
    img1_alt="Mobile screenshot vivaz.nl"
    img2_src="/werk/vivaz/vivaz-mobile-3.webp"
    img2_alt="Mobile screenshot vivaz.nl"
  />
  <Img
    img_src="/werk/vivaz/vivaz-section-img-bg.webp"
    img_alt="Marketing afbeelding met visuals van de website vivaz.nl"
  />
  <Desktop vid_src="/werk/vivaz/vid-vivaz-desktop.mp4" vid_title="Desktop screencapture vivaz.nl" />
  <section class="quote mx-auto max-w-screen-xl py-16 px-4 md:px-16 lg:py-32">
    <div class="pagination quote-text flex w-full items-center justify-center gap-4 sm:gap-12">
      <a href="../werk">&lt; werk</a> / <a href="../werk/willemsen"> next &gt;</a>
    </div><!-- /.quote -->
  </section>
</Standard>
